.state-full-page-container {
  background-color: #161625;
  min-height: 100vh;
  margin: 0px;
}
.state-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.timeline-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.state-cases-main-compo-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  padding-top: 0px;
}
.state-name-tested-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.main-content {
  display: flex;
  width: 96%;
  justify-content: center;
}
.state-name-specific {
  text-align: center;
  background-color: rgba(2, 132, 199, 0.16);
  color: #0284c7;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  border-radius: 35px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .state-name-specific {
    font-size: 18px;
  }
}
.state-name-container {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .state-name-container {
    width: auto;
  }
}
.state-date-specific {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 0px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .state-date-specific {
    font-size: 10px;
  }
}
.tested-cases-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.tested-name {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 12px;
}
.tested-count {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 0px;
}
.all-cases-container-state {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 250px;
  margin-top: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .all-cases-container-state {
    margin-top: 20px;
    flex-wrap: wrap;
    flex: 2;
    align-items: center;
  }
}

.active-container-state {
  margin-bottom: 20px;
}
.confirmed-container-state {
  margin-bottom: 20px;
}
.recovered-container-state {
  margin-bottom: 20px;
}
.deceased-container-state {
  margin-bottom: 20px;
}
.confirmed-button {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #331427;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
}
.confirmed-text {
  color: #ff073a;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.confirmed-count {
  color: #ff073a;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
.check-icon-1 {
  color: #ff073a;
  font-size: 35px;
}
.active-button {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #132240;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
}
.active-text {
  color: #007bff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.active-count {
  color: #007bff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
.check-icon-2 {
  color: #007bff;
  font-size: 35px;
}
.recovered-button {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #182829;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
}
.recovered-text {
  color: #28a745;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.recovered-count {
  color: #28a745;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
.check-icon-3 {
  color: #28a745;
  font-size: 35px;
}
.deceased-button {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212230;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 10px;
  cursor: pointer;
  width: 250px;
}
.deceased-text {
  color: #6c757d;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}
.deceased-count {
  color: #6c757d;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
.check-icon-4 {
  color: #6c757d;
  font-size: 35px;
}
.bar {
  color: #9a0e31;
}
.bar-graph-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.all-bars-container {
  width: 100%;
}
